.currencyConverterWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #cc00ff;
    margin-left: auto;
    padding: 20px;
    box-sizing: border-box;
    min-height: 140px;

    input,
    select {
        outline: none;
    }

    .currencyConverter {
        display: flex;
        column-gap: 20px;
        justify-content: center;

        >div {
            display: flex;
            flex-direction: column;
            width: 25%;
            row-gap: 20px;
        }
    }

    .ratesField {
        display: flex;
        justify-content: space-between;
    }
}