.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.navbarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarWrapper > div {
  width: 100%;
}

.ratesTextWrapper {
  padding: 10px;
  background-color: #00a1ff;
}

.currencyTextWrapper {
  padding: 10px;
  background-color: #00ff1f;
}
